*.swp
vim/.vim/bundle/*
wallpapers/.wallpapers/*
!wallpapers/.wallpapers/.gitkeep
modmap
ssh/.ssh/*
!ssh/.ssh/config
config/.config/mopidy/spotify.conf
config/.config/insight-nodejs
config/.config/Slack
