!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.autohint:   0
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------
URxvt.modifier: mod1
URxvt*loginShell: true
URxvt.borderless: true
URxvt*dynamicColors: on
URxvt.geometry: 90x20
URxvt.internalBorder: 3
URxvt.lineSpace: 1
URxvt.loginShell: true
URxvt.saveLines: 0
URxvt*termName: xterm-256color
URxvt.transparent: false
URxvt.visualBell: false
URxvt.iso14755:             false
URxvt.iso14755_52:          false
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.font: xft:SourceCodePro:size=12,xft:PowerlineSymbols:size=12
URxvt*boldFont: xft:SourceCodePro:bold:size=12
URxvt.allow_bold:           true
URxvt*boldMode:             true
URxvt*letterSpace:          1
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            true
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         false


! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.cursorColor: #D8DEE9

*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6